body{
    padding: auto;
    background-color: rgb(243, 248, 243);
}

.paper-wrapper {
    background-color: white;
    padding: 90px;
    margin: 10%;

}
.div1{
    display: flex ;
    gap: 12%;
    
}
.navbar{
    display: flex;
    background-color: green;
    border: solid 2px;
    color: white;
    padding: 12px;
}
.toolbar{
    display: flex;
    gap: 5%;
}
.text1{
    font-size: xx-large;
}
.text{
    color: green; font-size: larger;
}
.text2{
    color: black;
    font-size: larger;
}
.text3{
    font-size: x-large;
}
.text4{
    font-size: xx-large;
    font-style: inherit;
background-image: url();
}
.div2{
    display: flex;
}
.text5{
    color: silver;
    font-size: medium;
}
.text6{
    color: green;
    font-size: x-large;
}
.image1{
width: 150%;
}
.image2{
width: 100%;
}
.div10{
    text-align: center;
}
.div11{
    background-color: rgb(86, 173, 86);
    text-align: center;

}
.div12{ 
    display: flex;
    gap:2% 
}


.text7{
    font-size: x-large;
    color: silver;
}
.div4{
    text-align: center;
}
.div5{
     display: flex;
     gap: 10%;
    
    
}
.text8{
    color: green;
    font-size: medium;
}
.div6{
    text-align: center; 
    padding: 24px; 
}
.button1{
    background-color: green;
    color: white;
    padding: 12px;
    border-radius: 8%;


}
.div3{
    display: flex;
}
.gap{
    gap: 8%;
}
.div8{
    gap: 8%;
}
.image3{
    width: 100%;
}
.image5{
    width: 200%;
}
.image6{
    width: 180%;
    height: 80%
}
.div13{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 90px;
}
.div14{
    display: flex;
}
.image6{
    width: 50%;
    height: 30%;
}
@media screen and (min-width: 250px) and (max-width: 950px){
    .div3{
        flex-direction: column;
    }


        .navbar{
            flex-direction: column;
        }
        .toolbar{
            display: flex;
            flex-direction: column;
            gap: 1%
        }
        .image1{
            width: 20%;
        }
        .div1{
            flex-direction: column;
        }
    }

    
